@font-face {
  font-family: fontello;
  src: url(../../static/fonts/fontello/font/fontello.eot);
  src: url(../../static/fonts/fontello/font/fontello.eot#iefix)
      format("embedded-opentype"),
    url(../../static/fonts/fontello/font/fontello.woff2) format("woff2"),
    url(../../static/fonts/fontello/font/fontello.woff) format("woff"),
    url(../../static/fonts/fontello/font/fontello.ttf) format("truetype"),
    url(../../static/fonts/fontello/font/fontello.svg#fontello) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins_Semi_Bold;
  src: url(../../static/fonts/Poppins/Poppins-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Open_Sans_Semi_Bold;
  src: url(../../static/fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Open_Sans_Regular;
  src: url(../../static/fonts/Open_Sans/OpenSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Poppins_Medium;
  src: url(../../static/fonts/Poppins/Poppins-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: Poppins_Regular;
  src: url(../../static/fonts/Poppins/Poppins-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Poppins_Light;
  src: url(../../static/fonts/Poppins/Poppins-Light.ttf);
  font-display: swap;
}

[class*=" icon-"]:before,
[class^="icon-"]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-report:before {
  content: "\e800";
}

.icon-community:before {
  content: "\e801";
}

.icon-right-arrow:before {
  content: "\e802";
}

.icon-left-arrow:before {
  content: "\e803";
}

.icon-photography:before {
  content: "\e804";
}

.icon-twitter:before {
  content: "\e805";
}

.icon-heart-filled:before {
  content: "\e806";
}

.icon-shoppers:before {
  content: "\e807";
}

.icon-code:before {
  content: "\e808";
}

.icon-analytics:before {
  content: "\e809";
}

.icon-custom:before {
  content: "\e80a";
}

.icon-flexible:before {
  content: "\e80b";
}

.icon-catalog-management:before {
  content: "\e80c";
}

.icon-magnifying-glass:before {
  content: "\e80d";
}

.icon-target:before {
  content: "\e80e";
}

.icon-recommendations:before {
  content: "\e810";
}

.icon-curation:before {
  content: "\e813";
}

.icon-thumbsup:before {
  content: "\e819";
}

.icon-dress:before {
  content: "\e81a";
}

.icon-style:before {
  content: "\e81b";
}

.icon-uparrow:before {
  content: "\e81d";
}

.icon-ab-testing:before {
  content: "\e81f";
}

.icon-glossary:before {
  content: "\e833";
}

.icon-case-study:before {
  content: "\e834";
}

.icon-blog:before {
  content: "\e835";
}

.icon-podcast:before {
  content: "\e836";
}

.icon-grocery:before {
  content: "\e837";
}

.icon-electronics:before {
  content: "\e838";
}

.icon-furniture:before {
  content: "\e839";
}

.icon-beauty:before {
  content: "\e83a";
}

.icon-fashion:before {
  content: "\e83b";
}

.icon-trophy:before {
  content: "\e83c";
}

.icon-heart:before {
  content: "\e83d";
}

.icon-cart:before {
  content: "\e83e";
}

.icon-dressing:before {
  content: "\e83f";
}

.icon-dress-1:before {
  content: "\e840";
}

.icon-personalize:before {
  content: "\e841";
}

.icon-product-curation:before {
  content: "\e842";
}

.icon-content:before {
  content: "\e843";
}

.icon-tag:before {
  content: "\e844";
}

.icon-listing:before {
  content: "\e845";
}

.icon-mail:before {
  content: "\e846";
}

.icon-styling-recomandation:before {
  content: "\e847";
}

.icon-vuex:before {
  content: "\e848";
}

.icon-data-management:before {
  content: "\e849";
}

.icon-recomendation:before {
  content: "\e84a";
}

.icon-image-moderation:before {
  content: "\e84b";
}

.icon-product-tagging:before {
  content: "\e84c";
}

.icon-marketing:before {
  content: "\e84d";
}

.icon-personized-search:before {
  content: "\e84e";
}

.icon-productivity:before {
  content: "\e850";
}

.icon-settings:before {
  content: "\e852";
}

.icon-taxonomy:before {
  content: "\e853";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-instagram:before {
  content: "\f16d";
}

#root,
body {
  /*background: #f3f4fb !important;*/
  background: #ffffff !important;
}

input {
  font-family: "SourceSansPro-Regular" !important;
}

/* Semantic UI Global style override */
.ui.dropdown {
  display: flex !important;
  align-items: center !important;
  /*font-size: 16px !important;*/
  /*font-family: "SourceSansPro-Regular" !important;*/
  font-size: 14px !important;
  font-family: "Poppins_Medium" !important;
  color: #333 !important;
  margin-right: 1em !important;
}

.ui.dropdown:hover {
  color: #2962ff !important;
  /*color: #191e50 !important;*/
}

.ui.dropdown .menu .ui.dropdown .menu > .item {
  font-size: 16px !important;
  font-family: "SourceSansPro-Regular" !important;
  color: #191e50 !important;
}

.ui.dropdown .menu > .item {
  color: #191e50 !important;
}

.selected.item {
  color: #191e50 !important;
}

.ui.dropdown > .dropdown.icon {
  margin-left: 5px !important;
  font-size: 1em !important;
}

.visible.menu.transition {
  z-index: 10000;
}

.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
  top: 0.38571429em;
  padding: 0.91666667em 5px;
}

.ui.selection.dropdown {
  min-height: 35px !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.ui.label {
  background: #3d77cf1e !important;
  color: #191e50 !important;
}

.ui.label:first-child {
  margin-left: 0;
  display: flex;
  align-items: center;
}

.ui.label > .detail {
  margin-top: 2px !important;
}

#graph {
  height: 400px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

div.tooltip {
  top: 0;
  border: 0px;
  color: #000;
  z-index: 999999;
  padding: 4px 2px;
  text-align: center;
  position: absolute;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12px sans-serif;
  background: lightsteelblue;
}

body.animating.in.dimmable,
body.dimmed.dimmable {
  overflow: hidden !important;
}

.ui.dimmer .ui.loader:after {
  border-color: #4a4a4a transparent transparent;
}

.ui.blue.button,
.ui.blue.buttons .button,
.ui.blue.button:focus,
.ui.blue.buttons .button:focus,
.ui.blue.button:hover,
.ui.blue.buttons .button:hover {
  background-color: #2962ff;
  border: none !important;
}

.slick-next,
.slick-prev {
  margin: 0 -4px;
  color: #fff !important;
  background-color: #2962ff !important;
  border: 1px solid #2962ff !important;
}

/*.slick-next:before {
  content: '→' !important;
  color: #2962FF !important;
}*/

.slick-next:before,
.slick-prev:before {
  color: #fff !important;
  background-color: #fff !important;
}

.ui.button,
.ui.button:hover {
  margin: 0 6px !important;
  min-width: 245px !important;
  border-radius: 30px !important;
  background-color: #f8f8f8;
  border: 1px solid #6c6c6c;
  font-family: "Poppins_Semi_Bold";
}

.ui.selection.dropdown {
  border: none !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.highlight {
  transform: scale(1.02) !important;
  transform-origin: bottom !important;
  border: 0.5px solid #2962ff !important;
}

/*.slick-prev, .slick-next {
  background-color: #2862FF !important;
}*/

.slick-prev {
  top: 0;
  right: 0;
  left: 94%;
  position: relative;
  box-shadow: 1px 1px 3px 1px #e4e7ff;
}

.slick-next {
  top: 0;
  left: 98% !important;
  position: absolute;
  box-shadow: -1px -1px 3px 3px #e4e7ff;
}

.slick-disabled {
  background-color: #f8f8f8 !important;
}

.slick-disabled.slick-prev,
.slick-disabled.slick-next {
  border: 1px solid #eee !important;
  background-color: transparent !important;
}

.slick-disabled.slick-prev:before,
.slick-disabled.slick-next:before {
  background-color: #eee !important;
}

.slick-disabled.slick-next:before {
  color: #eee !important;
}

.ui.dimmer .ui.loader:after {
  border-color: #2962ff transparent transparent;
}

.ui.selection.dropdown {
  min-width: 20em;
}

.ui.selection.dropdown > .dropdown.icon {
  opacity: 1;
  color: black;
  padding-top: 14px;
  height: 10px;
  background-color: white;
}

.ui.list > .item > .content {
  padding: 8px;
  cursor: pointer;
}

.ui.list > .item > .content:hover {
  background-color: #3d77cf1e;
}

.ui.large.modal > .header {
  font-family: "Poppins_Semi_Bold";
}

.rc-pagination-item-active {
  border-color: #2862ff;
  background-color: #2862ff;
}

.rc-pagination-item:hover {
  border-color: #2862ff;
}

.rc-pagination-item:hover a {
  color: #2862ff;
}
.rc-pagination-item-active:hover a {
  color: #ffffff;
}
.ui.buttons .button:first-child {
  border-left: 1px solid #333;
}

.ui.toggle.checkbox input:focus:checked ~ label:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #2862ff !important;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2862ff;
  border-radius: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2862ff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2862ff;
  border-radius: 1px;
}

input[type="range"]:focus::-moz-range-track {
  background: #2862ff;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]:focus::-ms-track {
  background: #2862ff;
}

input[type="range"]::-ms-fill-lower {
  background: #2862ff;
  border: 0.2px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
  background: #eee;
  border: 0.2px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #2862ff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #eee;
}

.ui.breadcrumb {
  font-family: "Open_Sans_Regular";
}

.ui.breadcrumb a.section {
  color: #2962ff;
}

.ui.breadcrumb .active.section {
  font-weight: 400;
}

.ui.compact.menu::-webkit-scrollbar {
  height: 5px;
}

.ReactChart .Axis text {
  font-family: Poppins_Medium !important;
  font-size: 9px !important;
}

.tippy-box {
  white-space: pre-wrap;
  text-align: center;
}
